@media (max-width: 970px) {
  .search-result {
    grid-template-columns: 10rem minmax(10rem, 1fr) 15rem;
  }
  .book-info-searches {
    padding: 0;
  }
  .show-more-btn {
    padding: 3px 8px;
  }
  .book-title {
    font-size: 1.2rem;
  }
  .publish-year,
  .book-author-search,
  .pages {
    font-size: 0.8rem;
    margin: 3px 0;
  }
  .add-btn {
    font-size: 1rem;
    padding: 5px;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-rows: 50px 100px 3fr;
    grid-template-columns: 150px minmax(100px, 2fr);
  }
  .search-bar {
    max-width: inherit;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .search-bar input {
    max-width: 60rem;
    min-width: 20rem;
    border: 1px solid red;
  }
  main {
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: -3;
    grid-row-end: 4;
    height: 100vh;
  }
  .render-book-widnow {
    min-height: 100vh;
  }
  .greet-user {
    display: none;
  }
  .currently-reading-box {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .aside-box {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    row-gap: 5px;
  }
  .btn-log-out {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .btn-open img {
    display: none;
  }
  .btn-open {
    padding: 0.5rem;
    width: 100%;
    font-size: 0.8rem;
  }
  .book-info-searches {
    padding: 3px;
  }
  .search-result {
    grid-template-columns: 13% minmax(100px, 2fr) 1fr;
  }
  .btn-main-book {
    padding: 5px;
  }
  .show-more-btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .btn-main-book {
    gap: 2px;
    padding: 5px;
  }
  .searhc-book-cover {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding: 0;
  }
  .search-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    border: none;
    margin-top: 5px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #fff;
  }
  .search-bar input {
    width: inherit;
  }
  .btn-log-out {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    display: flex;
    margin-top: 5px;
    align-items: center;
  }

  main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    margin-bottom: 40px;
  }
  .render-book-window {
    border: none;
    border-radius: 0;
  }
  .currently-reading-box {
    display: none;
  }
  .btn-currently-reading {
    display: block;
  }
  .aside-box {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    gap: 5px;
  }
  .btn-open > p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .btn-currently-reading {
    background-color: #eee0da;
  }
  /* render search results */
  .search-result {
    grid-template-columns: 1fr 2fr 1fr;
    align-self: center;
    justify-self: center;
  }
  .mobile-query {
    width: 70px;
    justify-content: center;
    justify-self: end;
  }

  /* finished books */
  .finished {
    padding: 0;
  }
  .finished-book-info {
    gap: 10px;
  }
  .finished-book-info img {
    width: 50%;
  }
  .book-info-finished {
    font-size: 1rem;
  }
  .btn-cancel-bookshelf {
    padding: 8px 10px;
    font-weight: 300;
  }
  .read-more-box {
    width: 80%;
  }
  .read-more-info p {
    font-size: 1.1rem;
  }
  .read-more-book-info p,
  .read-more-title {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .show-more-container {
    padding: 5px;
  }
}
