/* font-family: 'Corben', cursive;
font-family: 'Heebo', sans-serif; */
/* Declaring css variables to easy access properties */
:root {
  --main-font-color: hsl(210, 10%, 23%);
  --bright-sand-color: #b4aa99;
  --bright-cement-color: #eee0da;
  --bright-yellow-color: #f6c120;
  --red-color: #ea5167;
  --border-radius-box: 10px;
  --border-radius-btn: 5px;
}

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  max-width: 100vw;
  font-family: "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.transition {
  transition: all 0.3s;
}
/* HEADER CSS */
/* GREET USER / SEARCH BAR / LOG OUT BTN */
.container {
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 30px;
}

.greet-user {
  font-size: 1.8rem;
  font-weight: 300;
}

.search-bar {
  display: flex;
  border-bottom: 1px solid var(--bright-yellow-color);
  padding: 5px;
}
#search-book {
  border: none;
}
#search-book:focus {
  outline: none;
}

.btn-log-out {
  font-size: 1.6rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 6rem;
  justify-self: center;
  font-weight: 300;
}

/* MAIN WINDOW STYLES */
.container-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 15px;
}

/* CURRENTLY READING COLUMN */
.currently-reading-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
.default-currently-reading {
  text-align: center;
  font-size: 1.2rem;
}
.currently-reading-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hidden {
  display: none;
}
.currently-reading {
  border-radius: var(--border-radius-box) var(--border-radius-box) 0 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.remove {
  display: none;
}
.book-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border: 1px solid var(--bright-yellow-color);
  border-top: none;
}
/* CHANGE  */
.img-box {
  height: auto;
  background: linear-gradient(
    to right bottom,
    var(--bright-yellow-color),
    var(--red-color)
  );
  overflow: hidden;
}

.book-cover-img {
  max-width: 120px;
  display: block;
  margin: auto;
}

.book-title {
  font-size: 1.6rem;
}

.book-author {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--bright-yellow-color);
  margin-bottom: 5px;
}

.book-description {
  font-size: 1.3rem;
  font-weight: 400;
}

.book-rating {
  text-align: center;
}
.book-rating-num {
  margin-left: 5px;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
  border: none;
  text-align: center;
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 1.3rem;
  border: 1px solid var(--bright-yellow-color);
  letter-spacing: 1.2px;
}

.btn-finished {
  background-color: var(--bright-yellow-color);
}
.btn-cancel {
  padding: 4px;
}

.btn-finished:hover,
.btn-cancel:hover {
  background-color: #fff;
}
/* BOOK SEARCHES WINDOW */
.render-book-window {
  border-radius: var(--border-radius-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 5px;
  min-height: 80vh;
  /* max-height: 85vh; */
}

.search-result {
  display: grid;
  grid-template-columns: 15% 4fr 1fr;
}

.book-title {
  font-size: 1.3rem;
}

.publish-year,
.book-author-search {
  font-size: 1.1rem;
  margin: 5px 0;
}

.search-book-cover {
  width: 100%;
}

.book-info-searches {
  padding: 10px;
  margin-left: 10px;
  font-size: 1.2rem;
}

.search-book-rating {
  margin: 5px 0;
}
.show-more-btn {
  padding: 5px 10px;
  background-color: var(--bright-cement-color);
  border: 1px solid var(--bright-yellow-color);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  transition: all 0.2s;
}

.show-more-btn:hover {
  background-color: var(--bright-sand-color);
}
.btn-main-book {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  justify-content: center;
}

.add-btn {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
}

.add-want-to-read {
  background-color: var(--bright-yellow-color);
}

.add-want-to-read:hover {
  background-color: #fad054;
}

.add-to-read {
  background-color: var(--bright-sand-color);
}
.add-to-read:hover {
  background-color: #c1baaf;
}

.add-currently-reading {
  background-color: var(--bright-cement-color);
}
.add-currently-reading:hover {
  background-color: #ece5e2;
}
.added {
  background-color: #ea5167;
}
/* ASIDE BOX */
.aside-box {
  height: 30rem;
  max-height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  border-radius: var(--border-radius-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-read,
.btn-want-to-read {
  cursor: pointer;
  width: min-content;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: var(--border-radius-box);
  font-size: 1.2rem;
  padding: 1rem;
}

.btn-read:hover,
.btn-want-to-read:hover {
  border: 1px solid var(--red-color);
}

/* ............................ */
/* add blur when show more btn is pressed */
.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  transition: all 0.1s;
}
/* SHOW MORE BTN BOX */
.read-more-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-box);
  background: linear-gradient(to right, #eee0da, #ffffffd0);
  border: 2px solid var(--bright-yellow-color);
  transition: all 0.2s;
  z-index: 2;

  /* change on the click */
  max-height: 80%;
  overflow: auto;
  display: none;
}
.show-more-container {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}

.show-more-container span {
  font-weight: 600;
}

.read-more-book-info p {
  font-size: 1.2rem;
  line-height: 2;
  text-transform: capitalize;
}

.read-more-title {
  font-size: 2rem;
  line-height: 2;
}

.description-read-more {
  font-size: 1.3rem;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* SPINNER */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--bright-sand-color);
  border-radius: 50%;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--bright-yellow-color);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

/* FINISHED BOOKS */
.finished {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--bright-sand-color); */
}

.finished-book-info {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.book-title-bookshelf {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.book-author-bookshelf {
  font-size: 1.2rem;
}

.btn-cancel-bookshelf {
  padding: 10px 15px;
  font-weight: 600;
  margin-right: 10px;
  background-color: var(--bright-yellow-color);
}
