/* font-family: 'Corben', cursive;
font-family: 'Heebo', sans-serif; */
/* Declaring css variables to easy access properties */
:root {
  --main-font-color: hsl(210, 10%, 23%);
  --bright-sand-color: #b4aa99;
  --bright-cement-color: #eee0da;
  --bright-yellow-color: #f6c120;
  --red-color: #ea5167;
  --border-radius-box: 10px;
  --border-radius-btn: 5px;
}

html {
  /* 10px */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  max-width: 100vw;
  font-family: "Heebo", sans-serif;
  background-color: #b89e6532;
}
/* Main window container */
.container {
  max-width: 130rem;
  height: 100vh;
  margin: 0 auto;
  /* !TEST! */
  display: grid;
  /* grid-template-columns: 15rem minmax(30%, 3fr) 1fr; */
  grid-template-columns: 20rem minmax(20rem, 3fr) 15rem;
  padding: 1rem;
  grid-template-rows: 5rem 3fr;
  grid-gap: 1rem;
}

/*? GREET USER TEXT */
.greet-user {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
}
.greet-user a {
  text-decoration: none;
  color: var(--main-font-color);
}
/*? SEARCH BAR  */
.search-bar {
  display: flex;
  border-bottom: 1px solid var(--bright-yellow-color);
  padding: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
}
/*? SEARCH BAR INPUT  */
#search-book {
  border: none;
  background-color: inherit;
}

#search-book:focus {
  outline: none;
}

/*? BTN LOG OUT */
.btn-log-out {
  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 6px 15px;
  border: 2px solid transparent;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  background-color: var(--bright-yellow-color);
  border-radius: var(--border-radius-btn);
  transition: all 0.3s;
}

.btn-log-out > a {
  text-decoration: none;
  color: var(--main-font-color);
}

.btn-log-out:hover {
  background-color: inherit;
  border: 2px solid var(--bright-yellow-color);
}
/* MAIN WINDOW STYLES */
/* .container-main {
  /* display: grid; */
/* grid-template-columns: 1fr 3fr 1fr; */
/* grid-column-start: 2;
  grid-column-end: -2; */
/* column-gap: 15px; */

/*? CURRENTLY READING COLUMN */
/* Text "currently-reading" */
.currently-reading-heading {
  font-size: 1.2rem;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
/*? IF NO BOOKS DISPLAY DEFAULT HTML LAYOUT  */
.default-currently-reading {
  text-align: center;
  background-color: var(--bright-yellow-color);
  border-radius: var(--border-radius-box);
  padding: 10px;
  font-size: 1.2rem;
}
/*? CURRENTLY READING BOX */
.currently-reading-container {
  background-color: #eaeaea;
  overflow: hidden;
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*? RENDERED BOOK WHICH USER CURRENTLY READS */
.currently-reading {
  border-radius: var(--border-radius-box);
  background-color: #e4d7915d;
  overflow: hidden;
  transition: all 0.3s ease-in;
  margin-bottom: 5px;
}

.book-info {
  border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border: 1px solid var(--bright-yellow-color);
  border-top: none;
}
/* CHANGE  */
.img-box {
  height: auto;
  background: linear-gradient(
    to right bottom,
    var(--bright-yellow-color),
    var(--red-color)
  );
  /* overflow: hidden; */
}

.book-cover-img {
  max-width: 100px;
  display: block;
  margin: auto;
}

.book-title-curr-reading {
  font-size: 1rem;
}

.book-author {
  font-size: 1rem;
  border-bottom: 1px solid var(--bright-yellow-color);
  margin-bottom: 5px;
}

/* BUTTONS /finished/cancel  */
.btn {
  padding: 8px;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
  border: none;
  text-align: center;
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 1.3rem;
  border: 1px solid var(--bright-yellow-color);
  letter-spacing: 1.2px;
}

.btn-finished {
  background-color: var(--bright-yellow-color);
}

.btn-cancel {
  padding: 3px;
}

.btn-finished:hover {
  background-color: #fad054;
}
.btn-cancel:hover {
  background-color: var(--bright-cement-color);
}
/** END OF CURRENTLY READING BOOK BOX */
/* .................................. */

/*? BOOK SEARCHES WINDOW */
.render-book-window {
  border-radius: var(--border-radius-box);
  background-color: #eaeaea;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 5px;
  min-height: 80vh;
  border: 1px solid var(--bright-yellow-color);
  /* max-height: 85vh; */
}

.search-result {
  display: grid;
  grid-template-columns: 13% 4fr 1fr;
  border-bottom: 1px solid #fad054;
}

.search-bar:last-child {
  border-bottom: none;
}
.book-title {
  font-size: 1.4rem;
}

.publish-year,
.book-author-search,
.pages {
  font-size: 1rem;
  margin: 5px 0;
  font-weight: 600;
}

.search-book-cover {
  width: 100%;
}

.book-info-searches {
  padding: 10px;
  margin-left: 10px;
  font-size: 1.2rem;
}

.show-more-btn {
  padding: 5px 10px;
  background-color: #eaeaea;
  border: 1px solid var(--bright-yellow-color);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  transition: all 0.2s;
}

.show-more-btn:hover {
  background-color: var(--bright-cement-color);
}
/* Buttons want-to-read/finished/currently-reading window */
.btn-main-book {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  justify-content: center;
}

.add-btn {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
}

.add-want-to-read {
  background-color: var(--bright-yellow-color);
}

.add-want-to-read:hover {
  background-color: #fad054;
}

.add-to-read {
  background-color: var(--bright-sand-color);
}
.add-to-read:hover {
  background-color: #c1baaf;
}

.add-currently-reading {
  background-color: var(--bright-cement-color);
}
.add-currently-reading:hover {
  background-color: #ece5e2;
}

/*? SEARCH BOOKS DEFAULT HTML LAYOUT */
.search-default-layout {
  margin: auto;
}
.search-books-default {
  font-size: 1.2rem;
  text-align: center;
}

/* ASIDE BOX */
.aside-box {
  background-color: #eaeaea;
  height: fit-content;
  padding: 10px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  border-radius: var(--border-radius-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* GRID */
  /* grid-column-start: 3;
  grid-column-end: 4; */
}
.btn-read,
.btn-want-to-read {
  cursor: pointer;
  width: min-content;
  text-transform: uppercase;
  background-color: #f6c120;
  border: 1px solid transparent;
  border-radius: var(--border-radius-box);
  font-size: 1.2rem;
  padding: 1rem;
  transition: all 0.3s;
}

.aside-box p {
  font-size: 1rem;
  padding: 5px;
}

.btn-read:hover,
.btn-want-to-read:hover {
  border: 1px solid var(--bright-yellow-color);
  background-color: #eaeaea;
}

/* ............................ */
/* add blur when show more btn is pressed */
.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  transition: all 0.1s;
}
/* SHOW MORE BTN BOX */
.read-more-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-box);
  background: linear-gradient(to right, #eee0da, #ffffffd0);
  border: 2px solid var(--bright-yellow-color);
  transition: all 0.2s;
  z-index: 2;

  /* change on the click */
  max-height: 80%;
  overflow: auto;
  display: none;
}
.show-more-container {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}

.show-more-container span {
  font-weight: 600;
}

.read-more-book-info p {
  font-size: 1.2rem;
  line-height: 2;
  text-transform: capitalize;
}

.read-more-title {
  font-size: 2rem;
  line-height: 2;
}

.description-read-more {
  font-size: 1.4rem;
  flex-wrap: wrap;
  margin-top: 10px;
  line-height: 1.5;
}

/* SPINNER */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--bright-sand-color);
  border-radius: 50%;
  display: block;
  position: fixed;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--bright-yellow-color);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

/* FINISHED BOOKS */
.finished {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--bright-yellow-color);
}

.finished:last-child {
  border-bottom: none;
}
.finished-book-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.book-title-bookshelf {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.book-author-bookshelf {
  font-size: 1.2rem;
}

.btn-cancel-bookshelf {
  padding: 10px 15px;
  font-weight: 600;
  margin-right: 10px;
  background-color: var(--bright-yellow-color);
}
.transition {
  transition: all 0.3s;
}

.added {
  background-color: red;
}
