<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Free to use reading app where you can create your account and bookmark books which you like to read, already read or currently reading. With the google books API help you can search for whatever book you love"
    />
    <title>readIt</title>
    <!-- MAYBE FONT FOR THE TITLE? (Corben regular 400) -->
    <!-- For other text (Heebo extra light 200, light 300, semibold 600) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Corben&family=Heebo:wght@200;300;600&display=swap"
      rel="stylesheet"
    />
    <!-- .............-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script defer type="module" src="../static/js/script.js"></script>
  </head>
  <body>
    <!--? blurred bg when show more btn is pressed -->
    <div class="blurred-bg"></div>
    <!--? .......................................... -->
    <div class="container">
      <header class="header">
        <!-- display username using js when user ir logged in -->
        <h1 class="greet-user">Hello, {{ username }} 📖</h1>
        <div class="search-bar">
          <!-- search icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
            style="width: 20px; margin-left: 5px; margin-right: 2px"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
          <!-- search bar -->
          <input
            type="text"
            name="search"
            id="search-book"
            placeholder="Search..."
            size="95"
            autocomplete="off"
          />
        </div>
        <button class="btn-log-out"><a href="/logout">Log out</a></button>
      </header>
      <div class="container-main">
        <!-- Making layout, all values will be changed according to API call -->
        <div class="currently-reading-box">
          <h2 class="currently-reading-heading">currently reading</h2>
          {% if curr_reading %} {% for book in curr_reading %}
          <div class="currently-reading-container"
            <section class="currently-reading" data-book-key="{{ book['book_key'] }}">
              <div class="img-box">
                <img
                  class="book-cover-img"
                  src="{{ book['book_cover'] }}"
                  alt="book cover photo"
                />
              </div>
              <div class="book-info">
                <h3 class="book-title">{{ book["title"] }}</h3>
                <p class="book-author">{{ book["author"] }}</p>
                <button
                  class="btn btn-curr-box btn-finished transition"
                  data-book-key="{{ book['book_key'] }}"
                >
                  Finished!
                </button>
                <button
                  class="btn btn-curr-box btn-cancel transition"
                  data-book-key="{{ book['book_key'] }}"
                >
                  Cancel reading
                </button>
              </div>
            </section>
          </div>
          {% endfor %} {% else %}
          <div class="currently-reading-container">
            <div class="default-currently-reading">
              <img
                src="../static/img/currently-reading.svg"
                alt="reading girl icon"
                width="100"
              />
              <p>Add books you are currently reading</p>
            </div>
          </div>
          {% endif %}
        </div>
        <main>
          <div class="render-book-window">
            <span class="spinner"></span>
            <ul>
              <!-- INPUT FROM JS SEARCH RESULTS -->
            </ul>
          </div>
          <div class="read-more-box">
            <!-- RENDER SHOW MORE -->
          </div>
        </main>
        <aside class="aside-box">
          <a href="/bookshelf">
            <button class="btn-read transition">
              <img src="../static/img/read-100.png" alt="book icon" />
              <p>Bookshelf</p>
            </button>
          </a>
          <a href="/to-read">
            <button class="btn-want-to-read transition">
              <img
                src="../static/img/want-to-read-100.png"
                alt="open book"
                srcset=""
              />
              <p>Want to read</p>
            </button>
          </a>
        </aside>
      </div>
    </div>
  </body>
</html>
