/* font-family: 'Corben', cursive;
font-family: 'Heebo', sans-serif; */
/* Declaring css variables to easy access properties */
:root {
  --main-font-color: #343a40;
  --bright-sand-color: #b4aa99;
  --bright-cement-color: #eee0da;
  --bright-yellow-color: #f6c120;
  --red-color: #ea5167;
  --border-radius-box: 10px;
  --border-radius-btn: 5px;
}

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100vw;
  font-family: "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.transition {
  transition: all 0.3s;
}
/* HEADER CSS */
/* GREET USER / SEARCH BAR / LOG OUT BTN */
.container {
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 30px;
}

.greet-user {
  font-size: 1.8rem;
  font-weight: 300;
}

.search-bar {
  display: flex;
  border-bottom: 1px solid var(--bright-yellow-color);
  padding: 5px;
}
#search-book {
  border: none;
}
#search-book:focus {
  outline: none;
}

.btn-log-out {
  font-size: 1.6rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 6rem;
  justify-self: center;
  font-weight: 300;
}

/* MAIN WINDOW STYLES */
.container-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 15px;
}

/* CURRENTLY READING COLUMN */
.currently-reading-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
.currently-reading {
  border-radius: var(--border-radius-box) var(--border-radius-box) 0 0;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border: 1px solid var(--bright-yellow-color);
  border-top: none;
}
/* CHANGE  */
.img-box {
  height: 17rem;
  background: linear-gradient(
    to right bottom,
    var(--bright-yellow-color),
    var(--red-color)
  );
  overflow: hidden;
}

.book-cover-img {
  max-width: 120px;
  display: block;
  margin: auto;
}

.book-title {
  font-size: 1.6rem;
}

.book-author {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--bright-yellow-color);
  margin-bottom: 5px;
}

.book-description {
  font-size: 1.3rem;
  font-weight: 400;
}

.book-rating {
  text-align: center;
}
.book-rating-num {
  margin-left: 5px;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
  border: none;
  font-size: 1.3rem;
  border: 1px solid var(--bright-yellow-color);
  letter-spacing: 1.2px;
}

.btn-finished {
  background-color: var(--bright-yellow-color);
}
.btn-cancel {
  padding: 4px;
}

.btn-finished:hover,
.btn-cancel:hover {
  background-color: #fff;
}

/* BOOK SEARCHES WINDOW */
.render-book-window {
  border-radius: var(--border-radius-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.search-result {
  /* display: flex;
  flex-shrink: 1; */
  display: grid;
  grid-template-columns: 15% 4fr 1fr;
}

.book-description-search {
  max-height: 5rem;
  overflow: hidden;
}
.book-author-search,
.book-description-search {
  margin: 8px 0;
  font-size: 1.3rem;
}

.search-book-cover {
  width: 100%;
}

.book-info-searches {
  padding: 20px;
}
.btn-main-book {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  justify-content: center;
}

.add-btn {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: var(--border-radius-btn);
}

.add-want-to-read {
  background-color: var(--bright-yellow-color);
}

.add-want-to-read:hover {
  background-color: #fad054;
}

.add-to-read {
  background-color: var(--bright-sand-color);
}
.add-to-read:hover {
  background-color: #c1baaf;
}

.add-currently-reading {
  background-color: var(--bright-cement-color);
}
.add-currently-reading:hover {
  background-color: #ece5e2;
}

/* ASIDE BOX */
.aside-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  border-radius: var(--border-radius-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-read,
.btn-want-to-read {
  cursor: pointer;
  width: min-content;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: var(--border-radius-box);
  font-size: 1.2rem;
  padding: 1rem;
}

.btn-read:hover,
.btn-want-to-read:hover {
  border: 1px solid var(--red-color);
}
